.bordo {
  border: solid 2px #590f18;
}

.chisiamo_paragraph {
  font-family: "Sanchez", serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

.chisiamo_title {
  font-family: "Oswald", serif;
  font-weight: 600;
  font-style: normal;
  margin: 0;
  color: #590f18;
}

/* Da provare con effetto card */
/* .chisiamo-container {
  border: solid 1px black;
  border-radius: 30px;
  box-shadow: -6px 7px 18px -9px rgba(0, 0, 0, 0.77);
  padding: 2px;
} */
