.bordo {
  border: solid 2px #590f18;
}

.chisiamo_paragraph {
  font-family: "Sanchez", serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

.chisiamo_title {
  font-family: "Oswald", serif;
  font-weight: 600;
  font-style: normal;
  margin: 0;
  color: #590f18;
}
