@import url("https://fonts.googleapis.com/css2?family=Sanchez:ital@0;1&display=swap");

.logo_cashuboli {
  width: 4em;
}

.navbarParagraph {
  font-family: "Sanchez", serif;
  font-weight: 400;
  font-style: normal;
}

.navbar_button {
  width: 100px;
}

/* Media query per schermi piccoli (es., telefoni) */
@media (max-width: 767px) {
}
