.tourbutton {
  background-color: #590f18 !important;
}

.priceBadge {
  background-color: #590f18 !important;
  color: white;
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 5px;
}

h2 {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 3rem;
  color: #590f18 !important;
}

.tourCardParagraph {
  font-family: "Sanchez", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 1rem;
  color: black;
}

.tourCardh5 {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 1.5rem;
  color: #590f18;
}

.tourTitlePage {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 4em;
  color: #590f18 !important;
}
