.newsletterParagrapgh {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 2rem;
  color: white;
}

.newsletterLBox {
  background-color: #590f18;
}

.newsletterButton {
  background-color: #590f18;
  border: none;
}

.newsletterButton:hover {
  background-color: #410b11;
}
