.tour-booking {
  text-align: center;
  font-family: Oswald;
  color: #ffffff;
}

h2,
.tourbookingP,
.label-option-value,
.booking-details {
  color: #590f18;
}

.calendar {
  width: 100%;
  max-width: 500px;
  margin: 20px auto;
  border-collapse: collapse;
}

.calendar th,
.calendar td {
  border: 1px solid #590f18;
  height: 50px;
  text-align: center;
  vertical-align: middle;
}

.calendar th {
  background-color: #590f18;
  color: #ffffff;
  padding: 10px;
}

.calendar td {
  background-color: #ffffff;
  color: #590f18;
}

.calendar td.outside-month {
  background-color: #eaeaea;
  color: #a0a0a0;
}

.calendar td button {
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  font-size: 1em;
  cursor: pointer;
}

.calendar td button:disabled {
  color: #a0a0a0;
  cursor: not-allowed;
}

.calendar td.selected button {
  background-color: #590f18;
  color: #ffffff;
}

.bikes-selection,
.percorso-selection {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 10px;
}

.bike-option,
.percorso-option {
  text-align: center;
  cursor: pointer;
  padding: 10px;
  transition: transform 0.3s, border 0.3s;
}

.bike-option img,
.percorso-option img {
  width: 100px;
  height: auto;
}

.bike-option:focus,
.bike-option:active,
.percorso-option:focus,
.percorso-option:active {
  transform: scale(1.5);
}

.confirm-button {
  padding: 10px 20px;
  background-color: #590f18;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.bike-option.selected,
.percorso-option.selected {
  transform: scale(1.5);
}
