.tour-title {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 4em;
  color: #590f18 !important;
}

h2,
.tourbookingP,
.label-option-value,
.booking-details {
  color: #590f18;
}

.bikes-selection,
.percorso-selection {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 10px;
}

.bike-option,
.tour-option {
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s, border 0.3s;
}

.bike-option img {
  width: 250px;
  height: auto;
}

.bike-option:focus,
.bike-option:active,
.tour-option:focus,
.tour-option:active {
  transform: scale(1.1);
}

.confirm-button {
  padding: 10px 20px;
  background-color: #590f18;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.bike-option.selected,
.tour-option.selected {
  transform: scale(1.1);
}
